.header_layout {
  background-color: #8cc0e2;
  color: #fff;
  padding: 20px;
  height: 40px;
  margin-bottom: 20px;
}

.header_layout ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_layout li {
  display: inline;
  margin-right: 20px;
}

.header_layout NavLink {
  text-decoration: none;
  color: #fff;
}

.header_layout NavLink:hover {
  text-decoration: underline;
}
a {
  color: black;
  font-size: large;
  font-weight: bold;
}
