.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.button_search {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #5098c8;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button_search:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.input {
  padding: 15px;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 18px;
}
